<page-title ng-if="layoutOptions.pageTitles" title="Inventory" description=""></page-title>


<script type="text/ng-template" id="export-inventory-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Inventory Export</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div ng-show="exporting_inventory">
		Generating Export
		<span >&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span>
		</div>
		<div ng-hide="exporting_inventory">
			<a class="btn btn-success" href="{{inventory_export_pdf}}" target="_blank" >Download PDF</a>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
	</div>
</script>

<script type="text/ng-template" id="save-inventory-template-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Save Inventory Search Template</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		
		<div class="form-group">
			<label class="col-sm-4 control-label" for="modal_template">Template Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="modal_template" ng-model="newInventoryTemplateModal.name" ng-model-options="" placeholder="">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Cancel</button>
		<button type="button" class="btn btn-secondary" ng-click="saveInventoryTemplate();">Save</button>
	</div>
</script>


<div ng-controller="InventoryDatatable as showCase">
	<div class="row" >
		<div class="col-sm-12">
			<div class="panel panel-default collapsed">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="linecons-search"></i>&nbsp&nbspSearch Filter</h3>
					<div class="pull-right isn-panel-pull-right">
						<div class="btn btn-blue " ng-click="searchInventory();">Search</div>
					</div>
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<div class="isn-button-seperator"></div>
					</div>
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<div class="btn btn-white " ng-click="clearTemplates();">Clear</div>
					</div>
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<div class="btn btn-secondary" ng-click="saveTemplateModal()" >Save Template</div>
					</div>
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<div class="btn btn-danger" ng-click="deleteTemplate()" ng-show="template!=null">Delete Template</div>
					</div>
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<!--<div class="btn btn-secondary" ng-click="">Choose</div>-->
						<select2 class="form-control" id="select2_template" name="template" ng-options="title.id as title.label for title in search_templates" ng-model="template" placeholder="Search Templates..."></select2> 
					</div>
				</div>
				<div class="panel-body always-visible">
	
					<form role="form" class="form-horizontal">
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.id">Inventory ID</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inventory_search.id" ng-model="inventory_search.id" ng-model-options="" placeholder="Inventory #">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.serial_no">Serial #</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inventory_search.serial_no" ng-model="inventory_search.serial_no" ng-model-options="" placeholder="Serial #">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.brand">Brand</label>
	
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.brand" name="inventory_search.brand" ng-options="title.id as title.label for title in dropdowns.brands" ng-model="inventory_search.brand" placeholder="Brands" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.type">Type</label>
	
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.type" name="inventory_search.type" ng-options="title.id as title.label for title in dropdowns.types" ng-model="inventory_search.type" placeholder="Types" multiple></select2>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.quantity">Quantity:</label>
	
							<div class="col-sm-10">
								<div class="slider slider-primary"  data-prefix=""  data-min="0" data-max="100" ng-model-min="inventory_search.quantity_MIN" ng-model-max="inventory_search.quantity_MAX" data-min-val="0" data-max-val="100"  data-step="1"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.uom">Unit of Measurement</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inventory_search.uom" ng-model="inventory_search.uom" ng-model-options="" placeholder="Unit of Measurement">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.tread_depth">Tread Depth</label>
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.tread_depth" name="inventory_search.tread_depth" ng-options="title.id as title.label for title in dropdowns.tread_depths" ng-model="inventory_search.tread_depth" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.side_wall">Side Wall</label>
	
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.side_wall" name="inventory_search.side_wall" ng-options="title.id as title.label for title in dropdowns.side_walls" ng-model="inventory_search.side_wall" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.tire_type">Tire Type</label>
	
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.tire_type" name="inventory_search.tire_type" ng-options="title.id as title.label for title in dropdowns.tire_types" ng-model="inventory_search.tire_type" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.tire_size">Tire Size</label>
	
							<div class="col-sm-10">
								<select2 class="form-control"  id="inventory_search.tire_size" name="inventory_search.tire_size" ng-options="title.id as title.label for title in dropdowns.tire_sizes" ng-model="inventory_search.tire_size" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.price">Price:</label>
	
							<div class="col-sm-10">
								<div class="slider slider-primary"  data-prefix="$"  data-min="0" data-max="1000" ng-model-min="inventory_search.price_MIN" ng-model-max="inventory_search.price_MAX" data-min-val="0" data-max-val="1000"  data-step="10"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.date_added">Date Range:</label>
							<div class="col-sm-10">
								<div class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" ng-model-min="inventory_search.date_added_MIN" ng-model-max="inventory_search.date_added_MAX" data-start-date="2014-01-01" data-end-date="2015-01-01">
									<i class="fa-calendar"></i>
									<span></span>
								</div>
								<abbr ng-show="inventory_search.date_added_MIN != null" class="isn-calendar-clear" ng-click="inventory_search.date_added_MIN = null; inventory_search.date_added_MAX = null;" ></abbr>
							</div>
						</div>
								
								
						<div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.user_name">Username</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inventory_search.user_name" ng-model="inventory_search.user_name" ng-model-options="" placeholder="Username">
							</div>
						</div>
						
				<!-- 
	    date_added_MIN : '',
	    date_added_MAX : '', -->
	    
	    
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="inventory_search.quantity">Quantity</label>
	
							<div class="col-sm-10">
								<input type="number" class="form-control" id="inventory_search.quantity" ng-model="inventory_search.quantity" ng-model-options="" placeholder="Inventory #">
							</div>
						</div> -->
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="orders.donor_search">Donor Search</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="orders.donor_search" ng-model="orders.donor_search" ng-model-options="" placeholder="Donor #, Name">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="orders.SHIPFROM">Ship From:</label>
							<div class="col-sm-10">
								<select2 class="form-control" ng-options="title.id as title.label for title in ship_from" ng-model="orders.SHIPFROM" placeholder="All" multiple></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="orders.order_type">Order Type:</label>
							<div class="col-sm-10">
								<select2 class="form-control" ng-options="title.id as title.label for title in order_types" ng-model="orders.order_type" placeholder="All"></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="orders.HASSHIPDATE">Has Shipped Date:</label>
							<div class="col-sm-10">
								<select2 class="form-control" ng-options="title.id as title.label for title in staticyesno" ng-model="orders.HASSHIPDATE" placeholder="All"></select2>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="orders.SHIPDATE">Shipped Date:</label>
							<div class="col-sm-10">
								<div class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" ng-model-min="orders.SHIPDATE_MIN" ng-model-max="orders.SHIPDATE_MAX" data-start-date="2014-01-01" data-end-date="2015-01-01">
									<i class="fa-calendar"></i>
									<span></span>
								</div>
								<abbr ng-show="orders.SHIPDATE_MIN != null" class="isn-calendar-clear" ng-click="orders.SHIPDATE_MIN = null; orders.SHIPDATE_MAX = null;" ></abbr>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label" for="orders.DATE">Order Placed:</label>
							<div class="col-sm-10">
								<div class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" ng-model-min="orders.DATE_MIN" ng-model-max="orders.DATE_MAX" data-start-date="2014-01-01" data-end-date="2015-01-01">
									<i class="fa-calendar"></i>
									<span></span>
								</div>
								<abbr ng-show="orders.DATE_MIN != null" class="isn-calendar-clear" ng-click="orders.DATE_MIN = null; orders.DATE_MAX = null;" ></abbr>
							</div>
						</div> -->
						
										
										
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label" for="dpcodes_field_search">Search</label>
	
							<div class="col-sm-10">
								<input type="text" class="form-control" id="dpcodes_field_search" ng-model="dpsearch.id" ng-model-options="" placeholder="Code ID, Field, Code, Description">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="dpcodes_field_select">Field</label>
	
							<div class="col-sm-10">
								<select2 class="form-control" ng-options="report.id as report.label for report in dpcodefields" ng-model="dpsearch.field" placeholder="All"></select2>
							</div>
						</div> -->
	
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default inventory-datatable-panel" >
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa-list-ol"></i>&nbsp&nbspInventory</h3>
			
		</div>
		<div class="panel-body">
			<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
		        <thead>
		        	<tr>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
						<th ></th>
					</tr>
		        </thead>
		        <tbody></tbody>
		    </table>
			
			<!-- <div class="pull-right">
				<div class="btn btn-primary" ng-click="addDatatableRow('edit-dpcode-modal','lg')">Add</div>
			</div>
			<div class="pull-right pull-right-stack">
				<div class="btn btn-secondary" ng-class="{disabled:isDatatableEditDisabled()}" ng-click="editDatatableRow('edit-dpcode-modal','lg')">Edit</div>
			</div>
			<div class="pull-right pull-right-stack">
				<div class="btn btn-danger" ng-class="{disabled:isDatatableEditDisabled()}" ng-click="deleteDatatableRow('delete-dpcode-modal','md')">Delete</div>
			</div> -->
			
			
		</div>
	</div>
	<div ng-controller="InventorySection">
		<fieldset ng-disabled="!checkPolicy('/app/inventory',0,1,1,0)">
			<div class="panel panel-default inventory-form" ng-if="selectedLot.id"  id="inventory_form" >
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa-list-ol"></i>&nbsp&nbspInventory</h3>
					<!-- <div class="pull-right isn-panel-pull-right">
						<div type="submit" class="btn btn-white" ng-class="{true: '', false: 'disabled'}[contact.is_modified == false]" ng-click="exportContact()">Export PDF<span ng-show="false">&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span></div>
					</div> -->
					<!-- <div class="pull-right pull-right-stack isn-panel-pull-right">
						<div type="submit" class="btn btn-danger" ng-class="{true: 'disabled', false: ''}[contact.id == 'new']" ng-click="deleteContact()">{{ contact.id == 'new'?'Cancel':'Delete' }}</div>
					</div> -->	
					
					<div class="pull-right pull-right-stack isn-panel-pull-right">
						<div class="btn btn-white pull-right"  ng-click="exportInventory();">Export PDF</div>
					</div>
											
					<div class="pull-right pull-right-stack isn-panel-pull-right" ng-show="checkPolicy('/app/inventory',0,1,1,0)">
						<div type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[changes_pending == false]" ng-click="saveInventory()">Save<span ng-show="selectedLot.is_saving">&nbsp&nbsp<i class=""><span class="fa fa-spin fa-cog"></span></i></span></div>
					</div>
					<div ng-show="changes_pending" class="control-label changes-pending pull-right pull-right-stack isn-panel-pull-right">
						Changes Pending
					</div>
					
				</div>
				<div class="panel-body">
					<form role="form" id="fullinventory" class="form-horizontal validate inventory-form">
						<div class="row" ng-show="selectedLot.id">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Lot Information</h3>
									</div>
									<div class="panel-body">
										<div class="col-xs-12">
											
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.serial_no">Serial #</label>
						
												<div class="col-sm-7">
													<input type="text" class="form-control" id="selectedLot.serial_no" ng-model="selectedLot.serial_no" ng-model-options="" >
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.tread_depth">Tread Depth</label>
												<div class="col-sm-7">
													<select2 class="form-control"  id="selectedLot.tread_depth" name="selectedLot.tread_depth" ng-options="title.id as title.label for title in dropdowns.tread_depths" ng-model="selectedLot.tread_depth" ></select2>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.side_wall">Side Wall</label>
						
												<div class="col-sm-7">
													<select2 class="form-control"  id="selectedLot.side_wall" name="selectedLot.side_wall" ng-options="title.id as title.label for title in dropdowns.side_walls" ng-model="selectedLot.side_wall" ></select2>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.tire_type">Tire Type</label>
						
												<div class="col-sm-7">
													<select2 class="form-control"  id="selectedLot.tire_type" name="selectedLot.tire_type" ng-options="title.id as title.label for title in dropdowns.tire_types" ng-model="selectedLot.tire_type" ></select2>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.tire_size">Tire Size</label>
						
												<div class="col-sm-7">
													<select2 class="form-control"  id="selectedLot.tire_size" name="selectedLot.tire_size" ng-options="title.id as title.label for title in dropdowns.tire_sizes" ng-model="selectedLot.tire_size" ></select2>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-5 control-label" for="selectedLot.price">Price:</label>
						
												<div class="col-sm-7">
													<input type="number" class="form-control" ng-model="selectedLot.price" >
													
												</div>
											</div>
											<!-- <div class="form-group">
												<label class="col-sm-2 control-label" for="inventory_search.date_added">Date Range:</label>
												<div class="col-sm-10">
													<div class="daterange daterange-inline add-ranges" data-format="YYYY-MM-DD" ng-model-min="inventory_search.date_added_MIN" ng-model-max="inventory_search.date_added_MAX" data-start-date="2014-01-01" data-end-date="2015-01-01">
														<i class="fa-calendar"></i>
														<span></span>
													</div>
													<abbr ng-show="inventory_search.date_added_MIN != null" class="isn-calendar-clear" ng-click="inventory_search.date_added_MIN = null; inventory_search.date_added_MAX = null;" ></abbr>
												</div>
											</div> -->
											
											
											
											<!-- <div class="form-group">
												<label class="col-sm-5 control-label" for="selectedInventory.LNAME">Last Name:</label>
						
												<div class="col-sm-7">
													<input type="text" class="form-control" name="selectedInventory.LNAME" id="selectedInventory.LNAME" ng-model="selectedInventory.LNAME"  data-validate="required" data-message-required="This is a required field." placeholder="Required Field">
												</div>
											</div> -->
										</div>
										
										
									</div>
								</div>
							</div>
							
						</div>
						
						
					</form>
			
				</div>
			</div>
		</fieldset>
	</div>
</div>
