<page-title ng-if="layoutOptions.pageTitles" title="Contacts" description="Some text"></page-title>

<div class="row" ng-controller="ContactsSearch">
	<div class="col-sm-12">
		<div class="panel panel-default collapsed">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="linecons-search"></i>&nbspSearch Filter</h3>
			</div>
			<div class="panel-body always-visible">

				<form role="form" class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="contact_id">Donor #</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="contact_id" ng-model="contact.id" ng-model-options="" placeholder="Donor #">
						</div>
					</div>

				</form>
			</div>
			<div class="panel-heading panel-second-heading">
				<h3 class="panel-title">Advanced Criteria</h3>
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
				</div>
			</div>
			<div class="panel-body">

				<form role="form" class="form-horizontal" role="form">

					<div class="form-group">
						<label class="col-sm-2 control-label" for="contact_id2">Donor 2#</label>

						<div class="col-sm-10">
							<input type="text" class="form-control" id="contact_id2" ng-model="contact.donor2" ng-model-options="" placeholder="Donor 2#">
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default" ng-controller="ContactsDatatable as showCase">
	<div class="panel-heading">
		<h3 class="panel-title">Contacts</h3>
		
		<div class="panel-options">
			<a href="" data-toggle="panel">
				<span class="collapse-icon">&ndash;</span>
				<span class="expand-icon">+</span>
			</a>
			<a href="" data-toggle="remove">
				&times;
			</a>
		</div>
	</div>
	{{message}}
	<div class="panel-body">
		
		
		<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover table table-striped table-bordered">
	        <thead>
	        	<tr>
					<th>Name</th>
					<th>firstName</th>
					<th>lastName</th>
				</tr>
	        </thead>
	        <tbody></tbody>
	    </table>
		
	</div>
</div>


<div class="row" ng-controller="ContactSections">
	<div ng-if="contact.id" class="col-md-12">
		<tabset class="nav-tabs-justified">
			<tab heading="Layman Info" id="layman_tab">
				<form role="form" id="layman" class="form-horizontal validate">
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right-sm">
								<button type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[contact.is_modified == false]" ng-click="saveContact('layman')">Save</button>
							</div>
							<div ng-show="contact.is_modified" class="pull-right-sm">
								Changes Pending
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Contact Information</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-4 control-label" for="contact_last_name">Last Name:</label>
				
										<div class="col-sm-7 col-sm-offset-1">
											<input type="text" class="form-control" name="" id="contact_last_name" ng-model="contact.LNAME" data-validate="required" data-message-required="This is custom message for required field." placeholder="Required Field">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label" for="contact_first_name">First Name:</label>
										<div class="col-sm-7 col-sm-offset-1">
											<input type="text" class="form-control" id="contact_first_name" ng-model="contact.FNAME" ng-model-options="" placeholder="">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label">Title:</label>
				
										<div class="col-sm-7 col-sm-offset-1">
											<select class="form-control" ng-options="title.label for title in titles track by title.id" ng-model="contact.TITLE"></select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							bcde
						</div>
					</div>
				</form>	
			</tab>
			
			<tab heading="Ecclesiastical Info" id="ecclesiastical_tab">
				<form role="form" id="ecclesiastical"class="form-horizontal validate">
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right-sm">
								<button type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[contact.is_modified == false]" ng-click="saveContact('ecclesiastical')">Save</button>
							</div>
							<div ng-show="contact.is_modified" class="pull-right-sm">
								Changes Pending
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Contact Information</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-4 control-label" for="contact_PTITLE">Professional Title:</label>
				
										<div class="col-sm-7 col-sm-offset-1">
											<input type="text" class="form-control" name="" id="contact_PTITLE" ng-model="contact.PTITLE" data-validate="required" data-message-required="This is custom message for required field." placeholder="Required Field">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							bcde
						</div>
					</div>
				</form>

			</tab>
			<tab heading="Volunteer" id="volunteer_tab">
				<form role="form" id="volunteer"class="form-horizontal validate">
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right-sm">
								<button type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[contact.is_modified == false]" ng-click="saveContact('volunteer')">Save</button>
							</div>
							<div ng-show="contact.is_modified" class="pull-right-sm">
								Changes Pending
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Volunteer section</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-4 control-label">PETSIGN:</label>
				
										<div class="col-sm-7 col-sm-offset-1">
											<input type="text" name="" class="form-control" ng-model="contact.PETSIGN" data-validate="required" data-message-required="This is custom message for required field." placeholder="Required Field">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							bcde
						</div>
					</div>
				</form>


			</tab>
			<tab heading="Orders" id="orders_tab">
				<form role="form" id="orders"class="form-horizontal validate">
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right-sm">
								<button type="submit" class="btn btn-primary" ng-class="{true: 'disabled', false: ''}[contact.is_modified == false]" ng-click="saveContact('orders')">Save</button>
							</div>
							<div ng-show="contact.is_modified" class="pull-right-sm">
								Changes Pending
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Orders section</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-4 control-label">LASTCONT_DATE:</label>
				
										<div class="col-sm-7 col-sm-offset-1">
											<div class="input-group">
												<input type="text" class="form-control datepicker" data-format="yyyy-mm-dd" name="" ng-model="contact.LASTCONT_DATE" data-validate="required" data-message-required="This is custom message for required field." placeholder="Required Field">
												
												<div class="input-group-addon">
													<a href=""><i class="linecons-calendar"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							bcde
						</div>
					</div>
				</form>

			</tab>
		</tabset>
	</div>
</div>