<page-title ng-if="layoutOptions.pageTitles" title="Product Configuration" description=""></page-title>


<script type="text/ng-template" id="add-category-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Category</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="category_name">Category Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="category_name" ng-model="currentModal.category" ng-model-options="" placeholder="Category Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>
<script type="text/ng-template" id="edit-category-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Edit Category</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="category_name">Category Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="category_name" ng-model="currentModal.category" ng-model-options="" placeholder="Category Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>
<script type="text/ng-template" id="add-brand-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Brand</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="brand_name">Brand Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="brand_name" ng-model="currentModal.brand" ng-model-options="" placeholder="Brand Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>
<script type="text/ng-template" id="edit-brand-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Edit Brand</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="brand_name">Brand Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="brand_name" ng-model="currentModal.brand" ng-model-options="" placeholder="Brand Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>


<script type="text/ng-template" id="add-type-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Add Type</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="type_name">Type Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="type_name" ng-model="currentModal.type" ng-model-options="" placeholder="Type Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>
<script type="text/ng-template" id="edit-type-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Edit Type</h4>
	</div>
	
	<div class="modal-body form-horizontal">
		<div class="form-group">
			<label class="col-sm-4 control-label" for="type_name">Type Name:</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" id="type_name" ng-model="currentModal.type" ng-model-options="" placeholder="Type Name">
			</div>
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-primary" ng-click="currentModal.dismiss('save');">Save</button>
	</div>
</script>

<div ng-controller="CategoriesDatatable as catShowCase">
	<div class="panel panel-default orders-datatable-panel" >
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa-list-ol"></i>&nbsp&nbspCategories</h3>
			
		</div>
		<div class="panel-body" id="categories_panel">
			<table datatable="" dt-options="catShowCase.dtOptions" dt-columns="catShowCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
		        <thead>
		        	<tr>
						<th >id</th>
						<th >Category</th>
					</tr>
		        </thead>
		        <tbody></tbody>
		    </table>
			
			<div class="pull-right">
				<div class="btn btn-primary" ng-click="addCategory()">Add</div>
			</div>
			<div class="pull-right pull-right-stack">
				<div class="btn btn-secondary" ng-class="{disabled:!isCategorySelected()}" ng-click="editCategory()">Edit</div>
			</div>
			<div class="pull-right pull-right-stack">
				<div class="btn btn-danger" ng-class="{disabled:!isCategorySelected()}" ng-click="deleteCategory()">Delete</div>
			</div>
				
			
			
		</div>
	</div>
	<div ng-controller="BrandsDatatable as brandShowCase">
		<div class="panel panel-default orders-datatable-panel"  ng-show="selectedCategory!=null">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa-list-ol"></i>&nbsp&nbspBrands - {{selectedCategory.category}}</h3>
				
			</div>
			<div class="panel-body" id="brands_panel">
				<table datatable="" dt-options="brandShowCase.dtOptions" dt-columns="brandShowCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
			        <thead>
			        	<tr>
							<th >id</th>
							<th >Brand</th>
						</tr>
			        </thead>
			        <tbody></tbody>
			    </table>
				
				<div class="pull-right">
					<div class="btn btn-primary" ng-click="addBrand()">Add</div>
				</div>
				<div class="pull-right pull-right-stack">
					<div class="btn btn-secondary" ng-class="{disabled:!isBrandSelected()}" ng-click="editBrand()">Edit</div>
				</div>
				<div class="pull-right pull-right-stack">
					<div class="btn btn-danger" ng-class="{disabled:!isBrandSelected()}" ng-click="deleteBrand()">Delete</div>
				</div>
				
				
			</div>
		</div>
		<div ng-controller="TypesDatatable as typeShowCase">
			<div class="panel panel-default orders-datatable-panel"  ng-show="selectedBrand!=null">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa-list-ol"></i>&nbsp&nbspTypes - {{selectedBrand.brand}}</h3>
					
				</div>
				<div class="panel-body" id="types_panel">
					<table datatable="" dt-options="typeShowCase.dtOptions" dt-columns="typeShowCase.dtColumns" class="table-condensed focus-on row-border hover table table-striped table-bordered">
				        <thead>
				        	<tr>
								<th >id</th>
								<th >Type</th>
							</tr>
				        </thead>
				        <tbody></tbody>
				    </table>
					
					<div class="pull-right">
						<div class="btn btn-primary" ng-click="addType()">Add</div>
					</div>
					<div class="pull-right pull-right-stack">
						<div class="btn btn-secondary" ng-class="{disabled:!isTypeSelected()}" ng-click="editType()">Edit</div>
					</div>
					<div class="pull-right pull-right-stack">
						<div class="btn btn-danger" ng-class="{disabled:!isTypeSelected()}" ng-click="deleteType()">Delete</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>

