@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(/css/fonts/HNu4Nzh6q8Es60EMNZhs9w.woff2) format('woff2'), url(/css/fonts/wZLYhRRxZWGToTRP78bqJQ.woff) format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(/css/fonts/27rE5lMk9EHpLbxiIuGd0PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(/css/fonts/UnXpojilM3XslYxUnWuVe_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-weight: 400;
  src: local('Arimo Italic'), local('Arimo-Italic'), url(/css/fonts/GYkAnzJvKnl5kOgLY6RO-w.woff2) format('woff2'), url(/css/fonts/8ezAIdgyp-Cm5_X7mWzP_g.woff) format('woff');
}