/*@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-light-webfont.woff') format('woff'),
    url('fonts/opensans-light-webfont.ttf') format('truetype'),
    url('fonts/opensans-light-webfont.svg#opensans-light-webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-regular-webfont.woff') format('woff'),
    url('fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-semibold-webfont.woff') format('woff'),
    url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('fonts/opensans-semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-bold-webfont.woff') format('woff'),
    url('fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/opensans-bold-webfont.svg#opensans-bold-webfont') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('fonts/opensans-extrabold-webfont.svg#opensans-extrabold-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: OpenSans;
}*/

img.report_header-url{
    margin-left:40px;
}

.report-header-wrapper{
    margin-bottom: 10px;
}

.report-header-url-wrapper{

}

.report_header-url{


}

.report-header-right-wrapper{
    margin-top:20px;
}

.report-header-lineitem{

}

.report-header-lineitem:first-child{
    font-weight:bold;
}

.report-main-content{
    margin: 0px 4% 0px 4%;

    width: 92%;
}

.report-groupheading-wrapper{
    margin-top: 20px;

    margin-bottom: 10px;
    background: rgb(15,117,188);
    color: white;
    border: none !important;
}

.report-groupheading-row{
    padding-left: 2px;

}

.report-groupheading-item{
    padding: 4px;

}

.report-data-wrapper{
    margin-top: 20px;

    border: none !important;
}
.report-data-row{
    color: rgb(87, 87, 87);
}


.report-data-row:nth-child(even){
    background-color: rgb(246,247,250);
}


table:not(.gridlines) .report-data-row:nth-child(even){
    border: 1px solid #E2E2E2;
}

.report-data-row.report-data-last-row{
    border:none;
}

table.gridlines tbody tr td {
	border: 1px solid grey;
}

.report-data-item{
    border-color: rgb(133, 133, 133) !important;
    /*background-color:white; */

}

.report-new-row{
    margin-left:0px;
}

table.dataTable{
    width: 100% !important;
}

.footer-img{
}

table{
    text-align: center;
}

.column-hidden{
    display:none;
}

.hidden-bag-search{
    display:none;
}

.bagsearch-tr{
    background-color: #E8E8E8;
    border: 1px solid #9F9F9F;
}

.bagsearch-td .barcode-left{

}
.bagsearch-td .barcode-left i{
    font-size: 72px;

}
.bagsearch-td .barcode-state{
    font-weight: 600;
    font-size: 18px;
}
.bagsearch-td .barcode-right{
    margin-top: 18px;

}
.bagsearch-td .IATA-tag-label{
    font-size: 20px;

    font-weight: 600;
    margin-top: 10px;
}
.bagsearch-td .IATA-tag-value{
    font-size: 18px;

    margin-top: 10px;
}
.barcode-td-wrapper{

    width: 85%;
    margin: auto;
    min-width: 189px;
    margin-top: 6px;

    margin-bottom: 6px;

}

.bagsearch-td{

}


.bagsearch-td .security-left{

}
.bagsearch-td .security-left i{
    font-size: 72px;

}
.bagsearch-td .security_status{
    font-size: 18px;
    font-weight: 600;
}
.bagsearch-td .security_status[active=Unscanned]{
    font-size: 14px;
    font-weight: 600;
}

.bagsearch-td .security-middle{

}
.bagsearch-td .security-label{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.bagsearch-td .security-id-value{
    font-size: 18px;

    margin-top: 10px;
}
.bagsearch-td .security-right{
    text-align: right;

}
.bagsearch-td .machine-title{
    font-size: 14px;

}
.bagsearch-td .machine-title span{
    font-weight: 600;

    width: auto;
    float: left;
    min-height: 0px;
}

.bagsearch-td .small-security-ID{
    font-size: 14px;

}
.bagsearch-td .small-security-ID span{
    font-weight: 600;

    width: auto;
    float: left;
    min-height: 0px;
}

.bagsearch-td .small-security-status{
    font-size: 14px;

}
.bagsearch-td .small-security-status span{
    font-weight: 600;

    width: auto;
    float: left;
    min-height: 0px;
}




.bagsearch-td .level-1-value{
}
.bagsearch-td .level-1-value span{
    width: auto;


    min-height: 0px;
    font-weight: 600;
    float: left;
}
.bagsearch-td .level-2-value{

}
.bagsearch-td .level-2-value span{
    width: auto;

    min-height: 0px;
    font-weight: 600;
    float: left;
}
.bagsearch-td .level-3-value{

}
.bagsearch-td .level-3-value span{
    width: auto;

    min-height: 0px;
    font-weight: 600;
    float: left;
}
.security-td-wrapper{
    width: 85%;
    margin: auto;
    min-width: 325px;
}



.bagsearch-td .location-left{

}
.bagsearch-td  .location-left i{
    font-size: 72px;

}

.bagsearch-td .location-right{
    text-align: right;

}
.bagsearch-td .scanner-label{
    text-align: left;

}
.bagsearch-td .scanner-label  span{
    min-height: 0px;

    width: auto;
    font-weight: 600;
    float: left;
}

.bagsearch-td .destination-label{

}
.bagsearch-td .destination-label  span{
    min-height: 0px;  width: auto;  font-weight: 600;

    float: left;
}

.bagsearch-td .last-seen-label{

}
.bagsearch-td .last-seen-label  span{
    min-height: 0px;  width: auto;  font-weight: 600;

    float: left;
}

.bagsearch-td .last-seen-date-label{

}

.location-td-wrapper{

    width: 95%;
    margin: auto;
    min-width: 227px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.outer-security-wrapper{
    margin-top: 6px;

    margin-bottom: 6px;
    border-left: 1px solid #9F9F9F;  border-right: 1px solid #9F9F9F;
    width: 97%;
    padding-right: 4px;
}

.small-security-ID{
    display:none;
}

.small-security-status{
    display:none;
}
td.bagsearch-td.small-layout{
    display: none;
}
div.mid-range-security-ID{
    display: none;
}

td.bagsearch-td.iata-tag{
    width:25%;
}
td.bagsearch-td.security{
    width:45%;
}
td.bagsearch-td.location{
    width:30%;
}

.bold-label-span{
    width: 50% !important;

    min-height: 0px !important;
    font-weight: 600;
    text-align: right;
}

.value-label{
    width: 50%;

    float: left;
}
.label-wrapper{
    width: 100%;

    margin: auto;
    min-width: 160px;
    text-align: left;
    overflow: auto;
}

table tbody tr td{
    vertical-align: top;
}






.bottom-footer-wrapper .footer-img{
	left: 0px !important;
}









div.barcode-state[active=Active]{
    color:green;
}
i.icon-barcode[active=Active]{
    color:green;
}



div.security_status[active=Clear]{
    color:green;
}

i.icon-suitcase[status=Clear]{
    color:green;
}

div.security_status[active=Alarmed]{
    color:red;
}

i.icon-suitcase[status=Alarmed]{
    color:red;
}


div.security_status[active=Out of Gauge]{
    color:red;
}

i.icon-suitcase[status=Out of Gauge]{
    color:red;
}

div.security_status[active=Purged]{
    color:blue;
}

i.icon-suitcase[status=Purged]{
    color:blue;
}



div.security_status[active=Error]{
    color:red;
}

i.icon-suitcase[status=Error]{
    color:red;
}



div.security_status[active=Unscanned]{
    color:blue;
}

i.icon-suitcase[status=Unscanned]{
    color:blue;
}



div.security_status[active=Oversize]{
    color:blue;
}

i.icon-suitcase[status=Oversize]{
    color:blue;
}


div.security_status[active=Suspect]{
    color:red;
}

i.icon-suitcase[status=Suspect]{
    color:red;
}


.larger-label-small{
    font-size: 18px !important;
    font-weight: 600;
    line-height: 22px !important;
}

.larger-label-small.security-ID{
    margin-bottom:8px;
}

.larger-label-small.iata-tag{
}

tr.bagsearch-tr.searchview div.barcode-left-pdf{
    display: none;
}
tr.bagsearch-tr.searchview div.security-left-pdf{
    display: none;
}
@media (min-width: 768px) and (max-width: 1199px) {
    tr.bagsearch-tr.searchview > td.bagsearch-td.iata-tag > div.barcode-td-wrapper{
        min-width: 0px;
    }

    tr.bagsearch-tr.searchview > td.bagsearch-td.security > div.outer-security-wrapper > div.security-td-wrapper{
        min-width: 0px;
        width: 100%;
    }
    tr.bagsearch-tr.searchview div.location-td-wrapper {
        min-width: 0px;
        width: 92%;
    }
    tr.bagsearch-tr.searchview div.location-td-wrapper > div.span9{
        margin-left:0px;
    }


    tr.bagsearch-tr.searchview div.barcode-td-wrapper > div.span5{
        width: 100%;
    }
    div.barcode-td-wrapper > div.span7{
        width: 100%;

        margin-left: 0px;
    }

    div.barcode-td-wrapper > div.span7 > div.barcode-right > div.IATA-tag-value{
        margin-top: 6px;
    }

    tr.bagsearch-tr.searchview div.security-td-wrapper > div.security-mid-span3{
        display: none;
    }
    tr.bagsearch-tr.searchview div.security-td-wrapper > div.security-left-span3{
        width: 100%;
    }

    tr.bagsearch-tr.searchview div.security-td-wrapper > div.security-mid-right-span6{
        width: 90%;

        margin-top: 14px;
    }
    tr.bagsearch-tr.searchview div.mid-range-security-ID{
        display: block;
    }

    tr.bagsearch-tr.searchview td.bagsearch-td > div.location-td-wrapper > div.span2{
        width: 100%;
        margin-left: 0px;
    }
    tr.bagsearch-tr.searchview td.bagsearch-td > div.location-td-wrapper > div.span9{
        width: 100%;
    }
    tr.bagsearch-tr.searchview td.bagsearch-td.iata-tag{
        width:25%;

    }
    tr.bagsearch-tr.searchview td.bagsearch-td.security{
        width:40%;
    }
    tr.bagsearch-tr.searchview td.bagsearch-td.location{
        width:35%;
    }


    tr.bagsearch-tr.searchview div.location-right {
        /*text-align: left !important;*/
    }
    tr.bagsearch-tr.phantomview div.barcode-left-pdf{
        display: block;
    }
    tr.bagsearch-tr.phantomview div.barcode-left{
        display: none;
    }
    tr.bagsearch-tr.phantomview div.barcode-right{
        display: none;
    }

    tr.bagsearch-tr.phantomview td.bagsearch-td.location > div.location-td-wrapper > div.span2.offset1{
        display:none;
    }
    tr.bagsearch-tr.phantomview td.bagsearch-td.location > div.location-td-wrapper > div.span9{
        width:100%;
        margin-left: 0px;
    }

    tr.bagsearch-tr.phantomview td.bagsearch-td.location > div.location-td-wrapper > div.span9 > div.location-right > div > div.bold-label-span{
        text-align: left;
        width: auto !important;
    }
    tr.bagsearch-tr.phantomview td.bagsearch-td.location > div.location-td-wrapper > div.span9 > div.location-right > div > div.value-label{
        width: auto !important;
    }

    tr.bagsearch-tr.phantomview div.barcode-left-pdf > div > div.label{
        text-align: left;
        width: auto;
        float: left;
        font-size: 16px !important;
        line-height: 28px !important;
        padding: 0px;
    }
    tr.bagsearch-tr.phantomview div.barcode-left-pdf > div > div.value{
        text-align: left;
        width: auto;
        float: left;
        margin-left: 4px;
        font-size: 16px !important;
        line-height: 28px !important;
    }
    tr.bagsearch-tr.phantomview div.barcode-td-wrapper{
        width: 96%;
        margin-left: 6px;
    }
    tr.bagsearch-tr.phantomview div.security-td-wrapper{
        width: 96%;
    }

    tr.bagsearch-tr.phantomview div.barcode-td-wrapper > div.span5{
        width: 100%;
        margin-left: 0px;
    }
    tr.bagsearch-tr.phantomview div.barcode-td-wrapper > div.span7{
        display: none;
        margin-left: 0px;
    }

    tr.bagsearch-tr.phantomview div.barcode-left-pdf > div.row-fluid{
        text-align: left;
    }

    tr.bagsearch-tr.phantomview div.security-left-span3{
        width: 48%;
    }
    tr.bagsearch-tr.phantomview div.security-mid-span3{
        display: none;
    }
    tr.bagsearch-tr.phantomview div.security-left-span3 > div.security-left{
        display: none;;
    }

    tr.bagsearch-tr.phantomview div.security-left-pdf{
        display: block;
    }
    tr.bagsearch-tr.phantomview div.security-left-pdf > div.row-fluid{
        text-align: left;
    }

    tr.bagsearch-tr.phantomview div.security-left-pdf > div > div.label{
        text-align: left;
        width: auto;
        float: left;
        font-size: 16px !important;
        line-height: 28px !important;
        padding: 0px;
    }
    tr.bagsearch-tr.phantomview div.security-left-pdf > div > div.value{
        text-align: left;
        width: auto;
        float: left;
        margin-left: 4px;
        font-size: 16px !important;
        line-height: 28px !important;
    }

    tr.bagsearch-tr.phantomview .bagsearch-td .security-right {
        text-align: left;
    }

    tr.bagsearch-tr.phantomview td.bagsearch-td.security > div.outer-security-wrapper  > div.security-td-wrapper > div.span6 > div.security-right > div > div.bold-label-span{
        text-align: left;
        width: auto !important;
    }
    tr.bagsearch-tr.phantomview td.bagsearch-td.security > div.outer-security-wrapper > div.security-td-wrapper > div.span6 > div.security-right > div > div.value-label{
        width: auto !important;
    }

    tr.bagsearch-tr.phantomview td.bagsearch-td.security{
       width: 55%;
    }
    tr.bagsearch-tr.phantomview td.bagsearch-td.iata-tag{
        width: 20%;
    }
    tr.bagsearch-tr.phantomview td.bagsearch-td.location{
        width: 25%;
    }
}


@media (max-width: 767px){
    .small-security-ID{
        display:block;
    }

    .security-middle{
        display: none;
    }

    .small-security-status{
        display:block;
    }

    td.bagsearch-td > div > div div.security-left-span3{
        display:none;
    }
    td.bagsearch-td > div > div div.security-mid-span3{
        display:none;
    }

    .security-td-wrapper {
        min-width: 0px;
    }

    .outer-security-wrapper {
        width: 96%;
        padding-right: 4px;
    }
    td.bagsearch-td.iata-tag{
        display:none;
    }
    td.bagsearch-td.location{
        display:none;
    }
    td.bagsearch-td.security {
        width: 100%;

    }
    td.bagsearch-td.security div.outer-security-wrapper{
        width: 100%;
        border-left: none;
        border-right: none;
    }

    td.bagsearch-td.security div.outer-security-wrapper security-td-wrapper{
        width:95%;
    }

    td.bagsearch-td div.small-layout{
        display: block;

        margin: 2%;
        width: 96% !important;
    }
    td.bagsearch-td div.outer-security-wrapper{
        display: none;
    }

    .left-small-labels-bags{
        width: 40%;
        float: left;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
    }
    .right-small-values-bags{
        width: 60%;
        float: left;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
    }
    .bagsearch-td .small-security-ID span {
        width: 100%;
        float: none;

    }








}