html{
	overflow-x:hidden;
}


.sidebar-menu .logo-env {
	padding: 10px 30px;
	border-bottom: 1px solid #313437;
}

form.orders-form{
	min-height:700px;
}

.nav-tabs {
  border-bottom: none;
}

.panel-title-wrapper{
	float:left;
}
a.panel-title-wrapper:hover, a.panel-title-wrapper:focus{
	text-decoration:none;	
}
.panel-options a:hover,.panel-options a:focus{ 
	text-decoration:none;	
}

.invoice-notes-heading{
	border-bottom: 2px solid #E2E2E2;
	font-weight: bold;
	margin-top:10px;
	padding-bottom:5px;	
}

.invoice-notes-content{
	margin-top: 10px;
}

abbr.isn-calendar-clear{
	
  display: inline-block;
  margin-right: 2px;
  top: 8px;
  padding: 0;
  line-height: 31px;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url('/assets/js/select2/select2.png') right top no-repeat;
  cursor: pointer;
  outline: 0;
}

textarea.isn-textarea-col-4{
	height:86px;
}

textarea.isn-textarea-col-8{
	height:158px;
}
	
	
.isn-button-seperator{
	height: 28px;
	border-left: 1px solid rgb(226, 226, 226);
	margin-top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.panel .panel-second-heading{
	padding-top:18px;
}

.panel.panel-stack{
	margin-bottom:0px;
}

.panel.collapsed .panel-body.always-visible{
	display:block;
}
.table.table-condensed>tbody>tr>td.isn-line-total{
	padding-top: 13px;
	font-weight: bold;
	text-align: right;
}


.changes-pending{
	margin-right:9px;
} 

.modal-body .alert{
	margin-top: -21px;
}

.modal-datatables-wrapper{
	overflow-x:auto;
	min-height:436px;
}

table.dataTable{
	width: 100% !important;
}

table.dataTable tbody tr{
	cursor:pointer;
}

.dataTables_processing{
	/*position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding-top: 26%;
	color: white;
	text-align: center;
	font-size: 1.2em;
	background: rgba(1,1,1,0.6);
	z-index: 1;
	font-size: 22px;*/
	
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    z-index: 1;
}


.nav.nav-tabs+.tab-content {
	padding: 5px;
}

.nav.nav-tabs>li.enabled a{
    /* background: rgb(104, 184, 40); */
	
    /* color: white; */
}
.nav.nav-tabs>li.enabled.active a{
    background: white;
	
    color: #555;
}

.nav.nav-tabs>li.enabled{
    background: rgb(104, 184, 40);
	
}

.nav.nav-tabs>li.enabled.active{
	
}
.nav.nav-tabs>li{
	max-width:24%;
}

.nav.nav-tabs>li>a {
	margin-left:5px;
}

.panel{
	padding: 8px 12px;
}
.sidebar-menu {
	width: 280px;
}

.makeopaque{
	opacity:0.6;
}

.isn-small-icon-button{
	width:45px;
}

.isn-under-note-button{
	margin-top:8px;
}

.note-row{
	margin-bottom:8px;
}

.isn-scroll-notes-panel{
	max-height: 192px;
	overflow-y:auto;
	overflow-x:hidden;
}

.isn-note-pre{
	height:77px;
}

.form-group {
  margin-bottom: 5px;
}

.panel-no-bottom-margin{
	margin-bottom:0px;
}
.isn-alt-address-section{
	max-height: 406px;
	overflow-y:auto;
	overflow-x:hidden;
	
}

.input-group-addon {
  padding-right: 7px;
  padding-left: 7px;
}

.panel .panel-heading > .panel-options.panel-options-left{
  float: left;
}

.panel.deep-search-panel > .panel-options.panel-options-left{
  float: left;
  height: 18px;
  margin-top: -7px;
}

.deep-search-panel{
	float:right;
  width: 260px;
}

.form-control.security-checkbox[type=checkbox]{
	margin-left:3px;
	margin-right:5px;
}

.form-pdf-export .control-label{
	padding-top:0px;
}

.form-control[type=checkbox]{
  height: 18px;
  width: initial;
  float: left;
  margin-top: 7px;
  cursor:pointer;
}

.isn-note-textarea{
	
	height:77px;
}

table.table-striped>tbody>tr.is_deleted:not(.focused){
	text-decoration:line-through; 
	background:#FFE7E7;  /*pink */
  	/*color: #fff;*/
}
table.table-striped>tbody>tr.is_deleted.focused{
	text-decoration:line-through; 
	background-color: #f69f2f;
	color:white;
}


table.contacts-transactions{
}

.table-transactions.table-responsive[data-pattern=priority-columns]{
	/*overflow-y:auto;
	max-height: 280px;*/
}

.pull-right-stack{
	margin-right:6px;
}

body.modal-open {
    overflow: visible;
}
       



/* GENERIC FORM STYING */       
.inline-pull-right-button{
	position: absolute;
	right: 0px;
	top: -9px;
}


.row-disabled{
	opacity:0.4;
}
/* Datatables Fixes */

table.dataTable{
	margin-bottom:0px;
}

.dataTables_paginate ul.pagination{
	margin-top: 3px;
}

.dataTables_wrapper .dataTables_paginate{
	padding-top:0px;
	float:right;
}

.dataTables_wrapper .dataTables_length{
	float:right;
}

.dataTables_length select{
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.tab-enabled-element{
	margin-left:7px;
}

.control-label.tab-enabled-element{
	padding-top: 7px;
}

@media (min-width:768px){
	
	input[type=checkbox].iswitch {
		margin-top:4px;
	}
}

@media (max-width:767px){
	
	.col-sm-mid{
		margin-bottom:5px;
	}
	
}
@media (max-width:768px){
	
	.isn-responsive-logo img{
		height: 50px;
		width: auto;
		margin-top: -15px;
		margin-bottom: -15px;
	}
}

@media (max-width:991px){
	.col-md-mid{
		margin-bottom:5px;
	}
}

.report-data-wrapper  table{
	font-size:12px;
}

.report-data-wrapper  table tbody td{
	vertical-align:middle;
	white-space: nowrap;
	word-wrap: normal;
}

.report-data-wrapper  table.wide tbody td{
	vertical-align:middle;
	white-space: normal;
}

.report-data-wrapper  table thead td, .report-data-wrapper  table thead th{
	vertical-align:bottom;
	word-break: normal;
}

.isn-panel-pull-right{
	
	margin-bottom:5px;
}

.isn-panel-pull-right div.btn{
	margin-bottom:0px;
}


/* Panel Stylings */

.panel .panel-heading {
	padding-bottom: 2px;
	border-bottom: 2px solid #E2E2E2;
}


.panel .panel-heading>.panel-title {
	line-height: 37px;
	font-weight:bold;
}

.panel .panel-heading>.lighter-weight-title{
	/*font-weight:normal;*/
}
.quick-info-panel{
	margin-bottom: 0px;
	/*background: rgba(2, 82, 180, 0.29);*/
}

.form-horizontal .control-label-value{
	text-align:left;
	font-weight:bold;
}


footer.main-footer {
	padding: 15px 10px ;
}

footer .inner-footer-wrapper{
	max-width: 334px;
	margin: auto;
	
}

footer.main-footer .footer-text {
	width:100%;
}

footer.main-footer .go-up {
	position: absolute;
	right: 10px;
}

nav.user-info-navbar{
	min-height:77px;
}

ul.nav-tabs li{
	font-weight:bold;
}


.pull-right-select-wrapper{
	width:180px;
}

.panel .panel-body {
	color: #242424;
}

div.datepicker {
	z-index: 2000 !important;
}

#report_html table.dataTable tbody tr {
  cursor: default;
}

