html{
	overflow-x:hidden;
}

.panel .panel-second-heading{
	padding-top:18px;
}

.panel.collapsed .panel-body.always-visible{
	display:block;
}

table.dataTable{
	width: 100% !important;
}

table.dataTable tbody tr{
	cursor:pointer;
}
.nav.nav-tabs+.tab-content {
	padding: 5px;
}


.panel{
	padding: 8px 12px;
}
.sidebar-menu {
	width: 280px;
}

.makeopaque{
	opacity:0.6;
}


table.table-striped>tbody>tr.is_deleted{
	background:#cc3f44;
	color:white;
}

table.contacts-transactions{
}

.table-transactions.table-responsive[data-pattern=priority-columns]{
	/*overflow-y:auto;
	max-height: 280px;*/
}

.pull-right-stack{
	margin-right:6px;
}

body.modal-open {
    overflow: visible;
}
       
