html{
	overflow-x:hidden;
}

.panel .panel-second-heading{
	padding-top:18px;
}

.panel.collapsed .panel-body.always-visible{
	display:block;
}


.changes-pending{
	margin-right:9px;
} 

table.dataTable{
	width: 100% !important;
}

table.dataTable tbody tr{
	cursor:pointer;
}
.nav.nav-tabs+.tab-content {
	padding: 5px;
}


.panel{
	padding: 8px 12px;
}
.sidebar-menu {
	width: 280px;
}

.makeopaque{
	opacity:0.6;
}


table.table-striped>tbody>tr.is_deleted:not(.focused){
	text-decoration:line-through; 
	background:#FFE7E7;  /*pink */
  	/*color: #fff;*/
}
table.table-striped>tbody>tr.is_deleted.focused{
	text-decoration:line-through; 
	background-color: #f69f2f;
	color:white;
}


table.contacts-transactions{
}

.table-transactions.table-responsive[data-pattern=priority-columns]{
	/*overflow-y:auto;
	max-height: 280px;*/
}

.pull-right-stack{
	margin-right:6px;
}

body.modal-open {
    overflow: visible;
}
       



/* GENERIC FORM STYING */       
.inline-pull-right-button{
	position: absolute;
	right: 0px;
	top: -9px;
}


.row-disabled{
	opacity:0.4;
}
/* Datatables Fixes */

table.dataTable{
	margin-bottom:0px;
}

.dataTables_paginate ul.pagination{
	margin-top: 3px;
}

.dataTables_wrapper .dataTables_paginate{
	padding-top:0px;
	float:right;
}

.dataTables_wrapper .dataTables_length{
	float:right;
}

.dataTables_length select{
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.tab-enabled-element{
	margin-left:7px;
}

.control-label.tab-enabled-element{
	padding-top: 7px;
}

@media (min-width:768px){
	
	input[type=checkbox].iswitch {
		margin-top:4px;
	}
}

@media (max-width:767px){
	
	.col-sm-mid{
		margin-bottom:5px;
	}
}

@media (max-width:991px){
	.col-md-mid{
		margin-bottom:5px;
	}
}
